body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 10px;
}
.half-widht{
    width: 50%;
    padding: 5%;
}
.half-widht img{
    width: 100%;
}

.link-button{

    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.border-flex{
    display: flex;
   
}
.border{
    border-left: 5px solid orangered;
    height: 120px;
    margin-top: 50px;
    padding-right: 10px;
}
.mission-area h1{
    text-align: center;
    width: 50px;
   
}
.mission-card{
    width: 40%;
    margin-left: 15%;
    margin-right: 5%;
   border-radius: 5%;
    box-sizing: 10px;
   
   
   background-color: rgba(248, 222, 248, 0.938);
}
#web-dev-mission{
  background-color: rgb(235, 228, 217);
}
    
#mission-dev{
  background-color: rgb(220, 227, 236);
}
.develop-width img{
    width: 50%;
    padding-left: 30px;

}
